{% load static i18n %}

<!--====== Sobre o StarChat Start ======-->
<section id="widget" class="about-section-three rel z-1 pt-130 rpt-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-7 col-lg-6">
                <div class="d-flex align-items-center justify-content-center about-image rmb-55 wow fadeInLeft delay-0-2s">
                    <img style="width: 180%;" src="{% static 'assets/images/about/message-view.svg' %}" alt="{% trans 'Sobre o StarChat' %}">
                </div>
            </div>
            <div class="col-xl-5 col-lg-6">
                <div class="about-content-three wow fadeInRight delay-0-2s">
                    <div class="section-title mb-25">
                        <span class="sub-title">{% trans "Solução de widget para seu Atendimento" %}</span>
                        <h2>{% trans "O widget de conversa que conecta seu cliente em segundos" %}</h2>
                    </div>
                    <p>
                        {% trans "Com o StarChat, você oferece suporte e vendas direto do seu site através de um único widget inteligente. Rápido de instalar, simples de gerenciar e pronto para escalar seu atendimento multicanal com eficiência." %}
                    </p>
                    <ul class="list-style-one mt-25 mb-35">
                        <li class="w-100">{% trans "Widget flutuante para seu site" %}</li>
                        <li class="w-100">{% trans "Automaçãoes inteligentes" %}</li>
                    </ul>
                    <a href="{% url 'auth:register' %}" class="theme-btn style-three">
                        {% trans "Quero ativar" %} <i class="fas fa-arrow-right"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--====== Sobre o StarChat End ======-->
