{% load static i18n %}

<footer class="footer-section footer-two bg-gray text-white rel z-1">
    <div class="container">

        <div class="call-to-action bg-blue bgs-cover text-white rel z-1">
            <div class="row align-items-center">
                <div class="col-xl-7 col-lg-6">
                    <div class="section-title mb-20">
                        <h2>{% trans "Precisa de ajuda para sua operação de atendimento?" %}</h2>
                        <p>{% trans "Nossa equipe está pronta para te auxiliar no que for preciso." %}</p>
                    </div>
                </div>
                <div class="col-xl-5 col-lg-6">
                    <div class="call-to-action-btns text-xl-right mb-20">
                        <a href="{% url 'auth:register' %}" class="theme-btn style-two rmb-15">{% trans "Comece agora" %} <i class="fas fa-arrow-right"></i></a>
                        <a href="{% url 'page:sobre_nos' %}" class="theme-btn style-three rmb-15">{% trans "Saiba mais" %} <i class="fas fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <img class="white-circle" src="{% static 'assets/images/shapes/white-circle.png' %}" alt="White Circle">
            <img class="white-dots slideUpRight" src="{% static 'assets/images/shapes/white-dots.png' %}" alt="shape">
            <img class="white-dots-circle slideLeftRight" src="{% static 'assets/images/shapes/white-dots-circle.png' %}" alt="shape">
        </div>

        <div class="row justify-content-between">
            <div class="col-xl-3 col-sm-6 col-7 col-small">
                <div class="footer-widget about-widget">
                    <div class="footer-logo mb-20">
                        <a href="#home">
                            <img src="{{ site_config.logo_footer.url }}" alt="Logo">
                        </a>
                    </div>
                    <p><span>{% trans "Com o StarChat, você tem uma central inteligente de atendimento multicanal" %}</span></p>
                    <a href="{% url 'page:sobre_nos' %}" class="read-more">{% trans "Saiba mais" %} <i class="fas fa-arrow-right"></i></a>
                </div>
            </div>
            <div class="col-xl-2 col-sm-4 col-5 col-small">
                <div class="footer-widget link-widget">
                    <h4 class="footer-title">{% trans "Menu" %}</h4>
                    <ul class="list-style-two">
                        <li><a href="#home">{% trans "Início" %}</a></li>
                        <li><a href="#pricing">{% trans "Preços" %}</a></li>
                        <li><a href="#solucoes">{% trans "Soluções" %}</a></li>
                        <li><a href="#servicos">{% trans "Serviços" %}</a></li>
                        <li><a href="#sistema">{% trans "Sistema" %}</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-4 col-md-8">
                <div class="footer-widget link-widget">
                    <h4 class="footer-title">{% trans "Serviços" %}</h4>
                    <ul class="list-style-two two-column">
                        {% for service in services %}
                        <li><a href="{% url 'page:service_detail' service.slug %}">{{ service.title }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="col-xl-3 col-md-4">
                <div class="footer-widget contact-widget">
                    <h4 class="footer-title">{% trans "Fale Conosco" %}</h4>
                    <ul class="list-style-three">
                        <li><i class="fas fa-envelope-open"></i> <span><a href="mailto:{{ site_config.email }}">{{ site_config.email }}</a></span></li>
                        <li><i class="fas fa-phone"></i> <span>{% trans "WhatsApp:" %} <a href="{{ site_config.whatsapp }}">{{ site_config.phone }}</a></span></li>
                    </ul>
                    <div class="social-style-one mt-25">
                        {% if site_config.facebook %}<a href="{{ site_config.facebook }}"><i class="fab fa-facebook-f"></i></a>{% endif %}
                        {% if site_config.twitter %}<a href="{{ site_config.twitter }}"><i class="fab fa-twitter"></i></a>{% endif %}
                        {% if site_config.linkedin %}<a href="{{ site_config.linkedin }}"><i class="fab fa-linkedin-in"></i></a>{% endif %}
                        {% if site_config.instagram %}<a href="{{ site_config.instagram }}"><i class="fab fa-instagram"></i></a>{% endif %}
                        {% if site_config.whatsapp %}<a href="{{ site_config.whatsapp }}"><i class="fab fa-whatsapp"></i></a>{% endif %}
                    </div>
                </div>
            </div>
        </div>

        <div class="copyright-area text-center">
            <p>© {% now "Y" %} <a href="{% url 'page:index' %}">StarChat</a>. {% trans "Todos os direitos reservados" %}</p>
        </div>
    </div>

    <img class="dots-shape" src="{% static 'assets/images/shapes/dots.png' %}" alt="Shape">
    <img class="tringle-shape" src="{% static 'assets/images/shapes/tringle.png' %}" alt="Shape">
    <img class="close-shape" src="{% static 'assets/images/shapes/close.png' %}" alt="Shape">
    <img class="circle-shape" src="{% static 'assets/images/shapes/circle.png' %}" alt="Shape">
</footer>
