{% load static i18n %}

<!--====== Seção do Dashboard Start ======-->
<section id="sistema" class="dashboard-section rel z-1 py-130 rpy-100">
    <div class="container">
       <div class="row justify-content-center text-center">
           <div class="col-xl-7 col-lg-8 col-md-10">
               <div class="section-title mb-60">
                    <span class="sub-title">{% trans "Visual do Sistema" %}</span>
                    <h2>{% trans "Veja como é o painel do StarChat" %}</h2>
                    <p>{% trans "Visual moderno, intuitivo e totalmente pensado para facilitar o atendimento em múltiplos canais." %}</p>
                </div>
           </div>
       </div>
        <div class="dashboard-screenshot-wrap">
            {% for screenshot in site_config.screenshots.all %}
            <div class="dashboard-screenshot-item">
                <img src="{{ screenshot.image.url }}" alt="{% trans 'Captura de Tela do Painel' %}">
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<!--====== Seção do Dashboard End ======-->
