{% load i18n %}

<div class="relative" x-data="{ openUserLinks: false }">
    <!-- Avatar do usuário -->
    <div class="hover:text-base-700 dark:hover:text-base-200 flex items-center justify-center block cursor-pointer rounded-full overflow-hidden p-4 w-8 h-8 border-2
                border-base-200 dark:border-base-700"
        @click="openUserLinks = !openUserLinks">
        <span class="flex items-center justify-center font-semibold text-lg uppercase">
            {{ request.user.username|slice:":2"|title }}
        </span>
    </div>

    <!-- Menu dropdown -->
    <nav
        style="width: 180px"
        class="absolute bg-white border border-base-200 flex flex-col leading-none py-1 -right-2 rounded-default shadow-lg top-10 w-56 z-50 dark:bg-base-800 dark:border-base-700"
        x-cloak x-show="openUserLinks" x-transition x-on:click.outside="openUserLinks = false"
    >
        <!-- Cabeçalho com nome -->
        <div class="border-b border-base-200 flex items-center px-3 py-2 mb-1 dark:border-base-700">
            <span class="font-semibold truncate flex items-center">
                {{ request.user.get_username|title }}
            </span>
        </div>

        {% if site_url %}
        <a href="{{ site_url }}" target="_blank"
           class="flex items-center px-3 py-2 text-sm hover:bg-base-100 hover:text-base-700 dark:hover:bg-base-700 dark:hover:text-base-200">
            <span class="material-symbols-outlined mr-2">open_in_new</span>
            {% trans 'View site' %}
        </a>
        {% endif %}

        {% if account_links %}
            {% for link in account_links %}
            <a href="{{ link.link }}"
               class="flex items-center px-3 py-2 text-sm hover:bg-base-100 hover:text-base-700 dark:hover:bg-base-700 dark:hover:text-base-200">
                {% if link.icon %}<span class="material-symbols-outlined mr-2">{{ link.icon }}</span>{% endif %}
                {{ link.title }}
            </a>
            {% endfor %}
        {% else %}
            {% if user.has_usable_password %}
            <a href="{% url 'admin:password_change' %}"
               class="flex items-center px-3 py-2 text-sm hover:bg-base-100 hover:text-base-700 dark:hover:bg-base-700 dark:hover:text-base-200">
                <span class="material-symbols-outlined mr-2">lock</span>
                {% trans 'Change password' %}
            </a>
            {% endif %}
        {% endif %}

        <div class="border-t border-base-200 mt-1 pt-1 dark:border-base-700">
            <form id="logout-form" method="post" action="{% url 'admin:logout' %}">
                {% csrf_token %}
                <button type="submit"
                        class="cursor-pointer flex items-center w-full px-4 py-2 text-sm text-red-500 hover:bg-red-100 dark:hover:bg-red-500/20">
                    <span class="material-symbols-outlined mr-2">logout</span>
                    {% trans 'Log out' %}
                </button>
            </form>
        </div>
    </nav>
</div>
