{% load unfold i18n %}

<div class="flex flex-row grow font-semibold items-center min-w-0 mr-3">
    {% if is_nav_sidebar_enabled %}
        <span class="cursor-pointer flex flex-row items-center">
            <span class="material-symbols-outlined hidden! xl:block!" hx-get="{% url "admin:toggle_sidebar" %}" hx-swap="none" x-on:click="sidebarDesktopOpen = !sidebarDesktopOpen">
                dock_to_right
            </span>

            <span class="material-symbols-outlined block! xl:hidden!" x-on:click="sidebarMobileOpen = !sidebarMobileOpen">
                dock_to_right
            </span>
        </span>
    {% endif %}

    <span class="block bg-base-200 h-5 mx-3 w-px dark:bg-base-700"></span>

    {% include "unfold/helpers/header_back_button.html" %}

    <h1 class="overflow-hidden text-ellipsis text-sm whitespace-nowrap xl:text-base text-font-important-light dark:text-font-important-dark">
        {% if content_title %}
            <small>{% trans "Bem-vindo! " %} </small>
            <span class="tracking-tight text-primary-600 dark:text-primary-500">
               {{ request.user.account }}
            </span>
        {% else %}
            {% translate 'Welcome,' %} <strong>{% firstof user.get_short_name user.get_username %}</strong>.
        {% endif %}
    </h1>
</div>
