{% load static analytical google_analytics_gtag %}


<!DOCTYPE html>
<html lang="pt-BR">
<head>
    {% analytical_head_top %}
    {% google_analytics_gtag %}
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>{% block title %}Starchat{% endblock %}</title>
    {% include 'head.html' %}
    {% block extra_head %}{% endblock %}
    <style>
        html { scroll-behavior: smooth; }
        /* se o header é fixo, evita “cortar” o topo da seção */
        #pricing, #solucoes, #servicos, #sistema { scroll-margin-top: 120px; } /* ajuste 90px ao seu header */
    </style>
    {% analytical_head_bottom %}
</head>

<body id='home' class="home-three">
    {% analytical_body_top %}
    <div class="page-wrapper">
        
        <!-- Preloader -->
        <div class="preloader"></div>

        {% block content %}{% endblock %}
        
    </div>

    <!-- Scroll Top Button -->
    <button class="scroll-top scroll-to-target " data-target="html"><span class="fa fa-angle-up"></span></button>

    <!-- JS -->
    {% analytical_body_bottom %}
    {% include 'scripts.html' %}
    {% block extra_scripts %}{% endblock %}
</body>
</html>
