{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- Header -->
{% include 'partials/header.html' %}

<!-- Hero -->
{% include 'partials/hero.html' %}

<!-- solutions -->
{% include 'partials/solutions.html' %}

<!-- about -->
{% include 'partials/about.html' %}

<!-- auto -->
{% include 'partials/auto.html' %}

<!-- newsletter -->
{% include 'partials/newsletter.html' %}

<!-- services -->
{% include 'partials/services.html' %}

<!-- screenshot -->
{% include 'partials/screenshot.html' %}

<!-- contact -->
{% include 'partials/contact.html' %}

<!-- Footer -->
{% include 'partials/footer.html' %}

{% endblock %}
