{% load static i18n %}
<!DOCTYPE html>
<html lang="pt-br" class="h-full">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{% block title %}Starchat{% endblock %}</title>

  {# Tailwind CDN #}
  <script src="https://cdn.tailwindcss.com"></script>

  {# Material Symbols (ícones) #}
  <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" rel="stylesheet"/>
  <link
    rel="shortcut icon"
    href="{% if site_config.favicon %}{{ site_config.favicon.url }}{% else %} {% static 'favicon.svg' %} {% endif %}"
    type="image/x-icon"
  />
  <style>
    .material-symbols-outlined { font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24; }
     { height: 48px; } /* utilitária para inputs */
    #fullLoader { position: fixed; inset: 0; background: rgba(255,255,255,.85); display: none;
                  align-items:center; justify-content:center; z-index: 50; }
    .dark #fullLoader { background: rgba(0,0,0,.55); }
  </style>
</head>
<body class="h-full  bg-gray-50 text-base-900 dark:bg-base-900 dark:text-base-100">
    {% block content %}

    {% endblock %}


    {% block extra_scripts %}{% endblock %}
</body>
</html>
